@page "/generation"
@using LandSim.Areas.Generation.Components
@using LandSim.Areas.Generation.Models;
@using LandSim.Areas.Generation.Services;
@using LandSim.Areas.Map.Components
@using LandSim.Areas.Map.Models;
@using LandSim.Database;

<PageTitle>World Generation</PageTitle>

<GridRow Style="height:100%;">
    <GridCol Style="padding: 5px; flex: none; height: 100%; overflow:scroll">
        <GenerationSettingsMenu Settings="Settings" OnSettingsUpdated="UpdateSettings" OnGeneratedTerrainApplied="SaveGeneratedTerrain" />
    </GridCol>
    <GridCol Flex=@("auto")>
        <div style="flex-grow:1; height:100%; position:relative; padding:5px;">
            <div style="height:100%; width:100%; position:relative;">
                <div style="position:absolute; top:0px; bottom:0px; left:0px; right:0px; overflow:scroll;">
                    <MapGrid Terrain="Terrain" />
                </div>
            </div>
        </div>
    </GridCol>
</GridRow>


@code {

    //TODO <GridCol Flex=@("none")  Style="padding: 5px;"> has a bug! Make a PR to fix this

    [Inject]
    public MapRepository MapRepository { get; set; }

    [Inject]
    public TerrainGenerationService TerrainService { get; set; }

    private TerrainTile[,] Terrain { get; set; }

    private GenerationSettings Settings { get; set; }

    protected override void OnInitialized()
    {
        Settings = MapRepository.GetSettings();
        Terrain = TerrainService.GenerateTerrain(Settings);
    }

    private void UpdateSettings(GenerationSettings settings)
    {
        Settings = settings;
        Terrain = TerrainService.GenerateTerrain(Settings);

        var width = Terrain.GetLength(0);
        var height = Terrain.GetLength(1);

        MapRepository.SaveSettings(settings);
        StateHasChanged();
    }
    
    private void SaveGeneratedTerrain()
    {
        MapRepository.ReplaceTerrain(Terrain);
    }
}
