@using LandSim.Areas.Map.Enums;
@using LandSim.Areas.Map.Models;
@using LandSim.Areas.Map.Services;

<Form Model="@Settings" Layout="@FormLayout.Vertical">

    <FormItem Label="Seed">
        <Input @bind-Value="context.Seed"/>
    </FormItem>

</Form>

@code {

    [Parameter, EditorRequired]
    public GenerationSettings Settings { get; set; }

    [Parameter, EditorRequired]
    public Action<GenerationSettings> OnSettingsUpdated { get; set; }

    [Parameter, EditorRequired]
    public Action OnGeneratedTerrainApplied { get; set; }

    [Inject]
    public TerrainService TerrainService { get; set; }

    private void UpdateSettings()
    {
        OnSettingsUpdated(Settings);
    }

    private void ApplyGeneratedTerrain()
    {
        OnGeneratedTerrainApplied();
    }

}
