@using LandSim.Areas.Map.Enums;
@using LandSim.Areas.Map.Models;
@using LandSim.Areas.Map.Services;
@using LandSim.Extensions;

<div class="map-grid-container" style="grid-template-columns: repeat(@(Terrain.GetLength(0)), 1fr);">

    @for (int x = 0; x < Terrain.GetLength(0); x++)
    {
        @for (int y = 0; y < Terrain.GetLength(1); y++)
        {
            <div id="[@x][@y]" class="terrain-tile" style="background-color: @(GetColorForTile(Terrain[x,y]));"/>
        }
    }
</div>

@code {

    [Parameter, EditorRequired]
    public TerrainTile[,] Terrain { get; set; }

    [Inject]
    public TerrainService TerrainService { get; set; }

    protected string GetColorForTile(TerrainTile tile)
    {
        return TerrainService.GetColorForTerrain(tile).GetCssColor();
    }

}
