@page "/world"
@using LandSim.Areas.Map.Components
@using LandSim.Areas.Map.Models;
@using LandSim.Areas.Map;

<PageTitle>World Map</PageTitle>

<div style="display: flex; flex-direction: row; height:100%;">

    <GenerationSettingsMenu Settings="Settings" OnSettingsUpdated="UpdateSettings" />

    <div style="flex-grow:1; height:100%; position:relative; padding:5px;">
        <div style="height:100%; width:100%; position:relative;">
            <div style="position:absolute; top:0px; bottom:0px; left:0px; right:0px; overflow:scroll;">
                <MapGrid Settings="Settings" />
            </div>
        </div>
        
    </div>
</div>



@code {

    public GenerationSettings Settings { get; set; }

    [Inject]
    public MapGenerationRepository MapRepository { get; set; }

    protected override void OnInitialized()
    {
        Settings = MapRepository.GetSettings();
    }

    private void UpdateSettings(GenerationSettings settings)
    {
        Settings = settings;
        MapRepository.SaveSettings(settings);
        StateHasChanged();
    }

}
