@page "/generation"
@using LandSim.Areas.Map;
@using LandSim.Areas.Map.Components
@using LandSim.Areas.Map.Models;
@using LandSim.Areas.Map.Services;

<PageTitle>World Generation</PageTitle>

<div style="display: flex; flex-direction: row; height:100%;">

    <GenerationSettingsMenu Settings="Settings" OnSettingsUpdated="UpdateSettings" OnGeneratedTerrainApplied="SaveGeneratedTerrain" />

    <div style="flex-grow:1; height:100%; position:relative; padding:5px;">
        <div style="height:100%; width:100%; position:relative;">
            <div style="position:absolute; top:0px; bottom:0px; left:0px; right:0px; overflow:scroll;">
                <MapGrid Terrain="Terrain" />
            </div>
        </div>
        
    </div>
</div>



@code {

    [Inject]
    public MapGenerationRepository MapRepository { get; set; }

    [Inject]
    public TerrainService TerrainService { get; set; }

    private TerrainTile[,] Terrain { get; set; }

    private GenerationSettings Settings { get; set; }

    protected override void OnInitialized()
    {
        Settings = MapRepository.GetSettings();
        Terrain = TerrainService.GenerateTerrain(Settings);
    }

    private void UpdateSettings(GenerationSettings settings)
    {
        Settings = settings;
        Terrain = TerrainService.GenerateTerrain(Settings);

        MapRepository.SaveSettings(settings);
        StateHasChanged();
    }

    private void SaveGeneratedTerrain()
    {
        MapRepository.SaveTerrain(Terrain);
    }
}
