@page "/world"
@using LandSim.Areas.Map.Components;
@using LandSim.Areas.Map;
@using LandSim.Areas.Map.Models;

<PageTitle>World Map</PageTitle>

<div style="height:100%; width:100%; padding:5px;">
    <div style="height:100%; width:100%; position:relative;">
        <div style="position:absolute; top:0px; bottom:0px; left:0px; right:0px; overflow:scroll;">
            <MapGrid Terrain="terrain" />
        </div>
    </div>
</div>



@code {

    [Inject]
    public IServiceScopeFactory Services { get; set; }

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    [Inject]
    public ILogger<World> Logger { get; set; }

    private TerrainTile[,] terrain { get; set; }
    private System.Timers.Timer timer;

    protected override void OnInitialized()
    {
        terrain = GetTerrain();

        timer = new System.Timers.Timer(1000);
        timer.Elapsed += CountDownTimer;
        timer.Enabled = true;
    }

    public async void CountDownTimer(Object? source, System.Timers.ElapsedEventArgs e)
    {
        var updatedTerrain = GetTerrain();

        if(updatedTerrain.GetLength(0) != 0 && updatedTerrain.GetLength(1) != 0)
        {
            terrain = updatedTerrain;
            await InvokeAsync(StateHasChanged);
        }
    }

    public TerrainTile[,] GetTerrain()
    {
        using (var scope = Services.CreateScope())
        {
            var db = scope.ServiceProvider.GetRequiredService<MapGenerationRepository>();
            var terrain = db.GetTerrain();
            return terrain;
        }
    }

    public void Dispose()
    {
        timer?.Dispose();
    }

}
